.navbar {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px;
  }
  
  .nav-home {
    margin-right: auto;
  }

  .nav-item {
    margin-left: 20px;
  }